@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cookie&family=Yeseva+One&display=swap');

/*CXT TOP*/
.topCtx {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Cookie', cursive;
}
.topImg {
  width: 100%;
  max-width: 300%;
  height: auto;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
}
.sidenote {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

/*CONTEXT*/
.contextInfo i {
  text-align: right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.accordion {
  background-color: lightblue;
  color: black;
  font-size: 20px;
  font-family: Georgia, serif;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion:hover {
  background-color: lightgray;
}
.active {
  background-color: palevioletred;
}
.panel {
  padding: 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}
h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: center;
}

/*WSM FIG*/
#wmnImg {
  width: 35%;
  max-width: 90%;
}
.tab {
  float: center;
  overflow: hidden;
  background-color: lightblue;
}
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: black;
}
.tab button.active {
  background-color: palevioletred;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
.topright:hover {
  color: purple;
}

/*TIMELINE*/
* {
  box-sizing: border-box;
}
.timeline h4 {
  font-family: 'Yeseva One', cursive;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; 
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 50%;
  margin-left: -3px; /*changed from -3% to -5% - changes the position of the containers from the left*/
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px; 
  height: 25px; 
  right: -15px; /*changed from -17px to -25px - changes the position of the left circles*/
  background-color: black;
  border: 4px solid lightblue;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid lightgrey;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent lightgrey;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid lightgrey;
  border-width: 10px 10px 10px 0;
  border-color: transparent lightgrey transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 25px 25px; /*changed 20px to 25px and 30px to 25px*/
  background-color: lightgrey;
  position: relative;
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  .container::before {
  left: 60px;
  border: medium solid lightgrey;
  border-width: 10px 10px 10px 0;
  border-color: transparent lightgrey transparent transparent;
  }
  .left::after, .right::after {
  left: 15px;
  }
  .right {
  left: 0%;
  }
}