/*PAGE*/
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Georgia, serif;
}

/*NAVBAR*/
.nav { 
  overflow: hidden;
  background-color: #DFD3C2;
}
.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover { 
  background-color: #B2C8A2;
  color: black;
}
.nav a.active {
  background-color: #DABA9E;
  color: white;
}
.nav .icon {
  display: none;
}
.nav.right {
  overflow: hidden;
  background-color: #DFD3C2;
}
.nav-right a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.faux-nav {
  background-color: #dfd3c2;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.faux-nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.faux-nav a:hover { 
  background-color: #B2C8A2;
  color: black;
}
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav-right a:not(:first-child) {
    display: none;
  }
  .nav-right a.icon { 
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .nav-right.responsive {
    position: relative;
  }
  .nav-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-right.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}






body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-color: royalblue;
  height: 93%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 30px;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
